@font-face {
  font-family: mSS;
  src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}

* {
  font-family: mSS;
}

@font-face {
  font-family: myFirstFont;
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

h1, h2 {
  font-family: myFirstFont;
  
  font-weight: lighter;
}

body {
  background-color: antiquewhite;
}

.column {
  float: left;
  width: 50%;
  padding-top:5px;
  padding-bottom: 5px;
  border-bottom: solid rgb(215, 215, 215) 1px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
  background-color: white;
}

img { 
  width: 100%;
  border-radius: 5px;
}

.top-section {
  padding: 23px;
}

.prep h3 {
  color: rgb(174, 36, 171);
  padding-left: 15px;
}

.prep {
  margin-top: 30px;
  background-color: rgba(255, 0, 217, 0.056);
  border-radius: 7px;
  padding-top: .1px;
  padding-bottom: .1px;
}

.prep ul li {
  padding-bottom: 5px;
}

.prep ul li::marker {
  color: rgb(174, 36, 171);
}

.bottom-title {
  color: brown;
  padding-left: 23px;
}

.bottom-section {
  padding: 23px;
}

.ingredients ul li {
  padding-bottom: 9px;
}

.ingredients ul li::marker {
  color: brown;
}

 .ingredients {
  border-bottom: solid rgb(215, 215, 215) 1px;
 }

 .instructions ol li {
  padding-bottom: 8px;
 }

 .instructions ol li::marker {
  font-weight:bolder;
  color: brown;
}
  
 .instructions {
  border-bottom: solid rgb(215, 215, 215) 1px;
 }

 .nutrition p {
  padding-left: 15px;
 }

 #brown {
  color: brown;
  font-weight: bolder;
 }

 .row {
  padding-left: 18px;
 }

 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  body { 

    padding: none;
    background-color: white;
  }
  img {
    width: 100%;
  }
}